*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.div-config {
    height: 210px;
    background: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.9;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    color: #000000;
}

.search {
    margin: 20px 0 0 20px;
}