/* Main form CSS */
.main_info {
    border: 1px outset lightgrey;
    width: 320px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Main Header */
.main_info h3 {
    text-align: center;
}

/* Main image */
.main_info img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.main_info span {
    font-weight:bold
}

.main_info p {
    margin: 5px 5px;
    text-align: justify;
}

/* Animal info format */
.animal_info {
    margin: 10px 10px;
    border: 1px solid lightgrey;
}
